<h2>Añadir nuevo usuario</h2>
<div style="margin-top: 5px; padding: 13px 0 10px 0;">
  <form [formGroup]="userAddForm" (ngSubmit)="add()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" placeholder="Nombre del usuario" class="form-control" formControlName="name">
      <label for="password">Contraseña</label>
      <input type="text" placeholder="Contraseña del usuario" class="form-control" formControlName="password">
    </div>
    <button mat-button color="primary" type="submit" [disabled]="userAddForm.invalid">Añadir</button>
  </form>
</div>
<h2>Borrar un usuario</h2>
<div style="margin-top: 5px; padding: 13px 0 10px 0;">
  <form [formGroup]="userDeleteForm" (ngSubmit)="delete()">
    <div class="form-group">
      <label for="name">ID</label>
      <input type="text" placeholder="ID del usuario" class="form-control" formControlName="id">
    </div>
    <button mat-button color="primary" type="submit" [disabled]="userDeleteForm.invalid">Borrar</button>
  </form>
</div>
<h2>Actualizar un usuario</h2>
<div style="margin-top: 5px; padding: 13px 0 10px 0;">
  <form [formGroup]="userUpdateForm" (ngSubmit)="update()">
    <div class="form-group">
      <label for="name">ID</label>
      <input type="text" placeholder="ID del usuario" class="form-control" formControlName="id">
      <label for="name">Nombre</label>
      <input type="text" placeholder="Nombre del usuario" class="form-control" formControlName="name">
      <label for="password">Contraseña</label>
      <input type="text" placeholder="Contraseña del usuario" class="form-control" formControlName="password">
    </div>
    <button mat-button color="primary" type="submit" [disabled]="userUpdateForm.invalid">Actualizar</button>
  </form>
</div>

